.error-img {
    display: block;
    margin: 0 auto;
}

.error-message {
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}