@import 'colors';

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: $mainBackground;
    padding: 0;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}


@import 'tableItem';
@import 'error';
@import 'animations';
@import 'header';
@import 'searchItem';
@import 'spinner';
@import 'activeClasses';
@import 'media';